@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "reset.css";

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 5px;
}

h1 {
    color: #000000;
}



#top-rated-movies-content, 
#category1-content, 
#category2-content, 
#custom-category-content {
    display: flex;
    flex-wrap: wrap;
}

#category-selector {
    margin-bottom: 20px;
}

/* Media Queries pour Mobile */
@media (min-width: 456px) and (max-width: 767.98px) {
    
    .mobil-align {
        display: none;
    }


    /* Masquer le titre "Autres" sur mobile */
    /* .mobile-hide {
        display: none;
    } */

    #custom-category h2 {
        display: none;
    }




    .modal-footer-desktop {
        display: none; /* Masquer le bouton de fermeture en bas pour mobile et tablette */
    }

    .close-cross {
        display: block; /* Afficher la croix de fermeture pour mobile et tablette */
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .desktop-only {
        display: none;
    }
    .tablet-only {
        display: block;
    }

    .logo-image-desktop {
        display: none;
    } 

    .logo-image-mobile {
        display: block;
        width: 100%;
        align-items: center;
        margin-left: 23px; 
    }

    h2 {
        font-family: 'Oswald', sans-serif;
        font-size:32px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        margin: 10px 0 20px 0;
        color: #000000;
        margin-left: 1.1em;
    }

    #best-movie-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Ajuster pour occuper toute la largeur disponible */
        padding: 10px;
        border: 6px solid #333;
    }

    #best-movie-content .card-img-top {
        width: 329px;
        height: 318px;
        object-fit: cover; /* Rogner l'image pour qu'elle remplisse le conteneur sans se déformer */
        transition: transform 0.5s ease; /* Effet de transition pour le zoom */
    }
    
    #best-movie-content .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
    }

    #best-movie-content .card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #best-movie-content .card-title {
        font-family: 'Oswald';
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    #best-movie-content .card-text {
        font-family: 'Oswald';
        font-size: 18px;
        font-weight: 200;
        line-height: 24px;
        text-align: left;
        margin-bottom: 10px;
    }

    #best-movie-content .btn {
        display: block;
        background-color: #FA0B0B;
        border-color: #FA0B0B;
        color: #fff;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
    }

    #best-movie-content .btn:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    #top-rated-movies-content, 
    #category1-content, 
    #category2-content, 
    #custom-category-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Ajout de cette ligne */
        width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur disponible */
        margin-top: -78px;
    }

    #top-rated-movies .movie-card,
    #category1 .movie-card,
    #category2 .movie-card,
    #custom-category .movie-card {
        width: 329px;
        height: 318px;
        overflow: hidden; /* Cache l'excédent de l'image pour éviter la déformation */
        margin: 20px; /* Ajuste l'espace entre les cartes */
        position: relative; /* Nécessaire pour positionner les éléments à l'intérieur */
        padding: 15px;
       
    }

    #top-rated-movies .movie-card img,
    #category1 .movie-card img,
    #category2 .movie-card img,
    #custom-category .movie-card img {
        width: 329px;
        height: 318px;
        object-fit: cover; /* Crop l'image pour qu'elle remplisse le conteneur sans déformation */
        transition: transform 0.5s ease; /* Effet de transition pour le zoom */
    }

    #top-rated-movies .movie-card .card-body,
    #category1 .movie-card .card-body,
    #category2 .movie-card .card-body,
    #custom-category .movie-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 10px;
        transition: background-color .5s ease;
    }

    #top-rated-movies .movie-card .card-body:hover,
    #category1 .movie-card .card-body:hover,
    #category2 .movie-card .card-body:hover,
    #custom-category .movie-card .card-body:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    #top-rated-movies .movie-card .card-title,
    #category1 .movie-card .card-title,
    #category2 .movie-card .card-title,
    #custom-category .movie-card .card-title {
        margin-bottom: 5px;
        font-weight: bold;
        align-self: flex-start;
        font-size: 19px;
    }


    #top-rated-movies .movie-card .btn-primary,
    #category1 .movie-card .btn-primary,
    #category2 .movie-card .btn-primary,
    #custom-category .movie-card .btn-primary {
        background-color:#2D2C2C;
        border: none;
        color: white;
        align-self: flex-end;
       border-radius: 20px 20px 20px 20px;
       padding:5px 20px;
       position: relative;
       left: -25px;
       margin-top: 1.5em;
    }

    #top-rated-movies .movie-card .btn-primary:hover,
    #category1 .movie-card .btn-primary:hover,
    #category2 .movie-card .btn-primary:hover,
    #custom-category .movie-card .btn-primary:hover {
        background-color: #0d0d0d;
    }

    #top-rated-movies h2,
    #category1 h2,
    #category2 h2,
    #custom-category h2 {
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 71.14px;
        color: #000000;
        align-items: center;
    }

    .modal {
        position:fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        display: flex;
        width: 436px;
        margin: 50px auto; /* Centrer le modal horizontalement */
        padding: 20px;
        border: 6px solid #333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: flex;
        flex-direction: column;   
    }

    .modal-header {
        display: flex;
        flex-direction:column; 
        font-family: 'Oswald', sans-serif;
        align-items: flex-start;
        justify-content: start;
        margin-bottom: 20px;
        
    }
    .modal-header > div {
       
        flex-grow: 1;
    }

    #modal-title {
        margin: 0;
        flex-grow: 1;
        margin-bottom: 10px; 
        font-size: 32px; 
        color: #000000;
        line-height: 1.2;
    }

    #modal-summary {
        order:1;
        margin-top: 20px; /* Ajoute un espace au-dessus du résumé */
        font-weight: 100;
        font-size: 18px;
    }

    .modal-image-tablet-container {
        order: 2; 
        text-align: center;
    }

    #modal-tablet-image{
    
        flex-shrink: 0;
        width: 100%; /* Ajuste l'image pour qu'elle prenne toute la largeur */
        height: auto;
        display: inline-block;
        margin-top: 20px; /* Ajoute un espace au-dessus de l'image */
        order:2;
    }

    .cast-container {
        order: 3;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        color: #000000;
        line-height: 1.6;
        margin-bottom: 5px;
        font-family: Oswald;
        text-align: justify;
    }

    #modal-info {
        font-size: 20px; /* Ajuste la taille de la police */
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }

    #modal-additional-info {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    #modal-rating {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    #modal-budget {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    .modal-text {
        color: black;
        font-weight: 100;
    }

    .new-line {
        display: block;
    }

    #modal-cast {
        display: block;
        margin-top: 10px; /* Ajoute un espace au-dessus du casting */
        color: #000000;
        font-size: 20px;
    }

    .modal-body strong {
        color: #000;
    }

    .modal-footer {
        
       display: none;
        
    }

    .modal-footer button {
        padding: 10px 25px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background-color: red;
        color: white;
        outline: none;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 0px;
    }

    .modal-footer button:hover {
        background-color: #e60000;
        transform: scale(1.05);
    }

    #custom-category .d-flex {
        display: flex;
        align-items: center;
        margin-left: 4em;
    }

    #category-selector {
        width: 65%;
        margin: 20px auto;
        margin-left: 1em;
    }

    #categories {
        width: 100%;
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        appearance: none;
        position: relative;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2.6 4.5H9.4L6 8.1L2.6 4.5Z" fill="%23333"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 24px 24px;
        
    }

    #categories:hover {
        border-color: #888;
    }

    #categories:focus {
        border-color: #0056b3;
    }

    .modal p {
        margin: 4px 0;
        font-size: 16px;
    }

    .custom-select {
        position: relative;
        width: 100%;
    }

    .selected-option {
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .options-container {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .option {
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    .option:last-child {
        border-bottom: none;
    }

    .option:hover {
        background-color: #f1f1f1;
    }

    h2 {
        font-family: 'Oswald', sans-serif;
        text-align: left;
    }

    /* Styles pour masquer les films supplémentaires */
.movie-card.extra {
    display: none;
}


.toggle-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 36px;
    padding: 2px 4px;
    border-radius: 25px;
    background-color: #FA0B0B;
    color: white;
    border: none;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  }


/* Media Queries pour Tablette */
@media (min-width: 768px) and (max-width: 991.98px) {

    .custom-category-title {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }
    .tablet-only {
        display: block;
    }

    .logo-image-desktop {
        display: block;
        width: 100%;
    }
    
    .logo-image-mobile {
        display: none;
    }


    .modal-footer-desktop {
        display: none; /* Masquer le bouton de fermeture en bas pour mobile et tablette */
    }

    .close-cross {
        display: block; /* Afficher la croix de fermeture pour mobile et tablette */
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    

    body {
        width: 768px;
        height: 4451px;
        margin: 0 auto;
        border: 1px solid transparent;
        opacity: 1;

    }

    #best-movie h2{
    font-size: 40px;
    font-family:  Oswald;
    font-weight: 600;
    line-height: 59.28px;
    text-align: left;
    color: #000000;
    margin-left: 1.2em;

    }


    #best-movie-content {
        display: flex;
        width: 618px;
        height: 271px;
        border: 6px solid #333;
        padding: 1em;
        margin-left: 3em;
    }

    #best-movie-content .card-img-top {
        width: 168px;
        height: 248px;
        left: -25px;
        top: -110px;
        padding: 4px 4px 4px 4px;
        margin-top: -10px;
    }

    #best-movie-content .movie-card {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: none;
        padding: 0;
        width: 100%;
    }

    #best-movie-content .card {
        display: flex;
        flex-direction: row;
        border: none;
        width: 100%;
    }

    #best-movie-content .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 5px 5px 5px;
    }

    #best-movie-content .card-title {
        font-family: Oswald;
        font-size: 40px;
        font-weight: 600;
        line-height: 44.3px;
        color: #333;
        text-align: left;
       
    }

    #best-movie-content .card-text {
        flex-grow: 1;
        margin-bottom: 10px;
        font-family: Oswald;
        font-size: 18px;
        font-weight: 200;
        line-height: 26px;
        text-align: left;
        width: 371px;
        height: 83px;
        
    }

   
    #best-movie-content .btn {
        align-self: flex-end;
        background-color: #FA0B0B;
        border-color: #FA0B0B;
        color: #fff;
        margin-right: 1rem;
        border-radius: 25px;
        padding: 2px 4px;
        width: 104px;
        height: 40px;
        margin-top: -1.5em;
    }

    #best-movie-content .btn:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .section h2 {
        margin-top: 5px;
    }

    #top-rated-movies-content, 
    #category1-content, 
    #category2-content, 
    #custom-category-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Ajout de cette ligne */
        width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur disponible */
        margin-top: -78px;
    }

    #top-rated-movies .movie-card,
    #category1 .movie-card,
    #category2 .movie-card,
    #custom-category .movie-card {
        width: 295px;
        height: 286px;
        overflow: hidden; /* Cache l'excédent de l'image pour éviter la déformation */
        margin: 20px; /* Ajuste l'espace entre les cartes */
        position: relative; /* Nécessaire pour positionner les éléments à l'intérieur */
        padding: 15px;
       
    }

    #top-rated-movies .movie-card img,
    #category1 .movie-card img,
    #category2 .movie-card img,
    #custom-category .movie-card img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop l'image pour qu'elle remplisse le conteneur sans déformation */
        transition: transform 0.5s ease; /* Effet de transition pour le zoom */
    }

    #top-rated-movies .movie-card:hover img,
    #category1 .movie-card:hover img,
    #category2 .movie-card:hover img,
    #custom-category .movie-card:hover img {
        transform: scale(1.1); /* Zoom au survol */
    }
    
    #top-rated-movies .movie-card .card-body,
    #category1 .movie-card .card-body,
    #category2 .movie-card .card-body,
    #custom-category .movie-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 10px;
        transition: background-color .5s ease;
    }

    #top-rated-movies .movie-card .card-body:hover,
    #category1 .movie-card .card-body:hover,
    #category2 .movie-card .card-body:hover,
    #custom-category .movie-card .card-body:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    #top-rated-movies .movie-card .card-title,
    #category1 .movie-card .card-title,
    #category2 .movie-card .card-title,
    #custom-category .movie-card .card-title {
        margin-bottom: 5px;
        font-weight: bold;
        align-self: flex-start;
        font-size: 19px;
    }

   


    #top-rated-movies .movie-card .btn-primary,
    #category1 .movie-card .btn-primary,
    #category2 .movie-card .btn-primary,
    #custom-category .movie-card .btn-primary {
        background-color:#2D2C2C;
        border: none;
        color: white;
        align-self: flex-end;
       border-radius: 20px 20px 20px 20px;
       padding:5px 20px;
       position: relative;
       left: -25px;
       margin-top: 1.5em;
    }



    #top-rated-movies .movie-card .btn-primary:hover,
    #category1 .movie-card .btn-primary:hover,
    #category2 .movie-card .btn-primary:hover,
    #custom-category .movie-card .btn-primary:hover {
        background-color: #0d0d0d;
    }

    #top-rated-movies h2,
    #category1 h2,
    #category2 h2, 
    #custom-category h2 {
        margin-left: 1.7em; /* Aligne le titre sur la première vignette */
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        color: #000000;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .modal {
        position:fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 506px;
        margin: 50px auto; /* Centrer le modal horizontalement */
        padding: 20px;
        border: 6px solid #333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        
    }

    .modal-header {
        display: flex;
        flex-direction:column; 
        font-family: 'Oswald', sans-serif;
        align-items: flex-start;
        justify-content: start;
        margin-bottom: 20px;
        
    }
    .modal-header > div {
       
        flex-grow: 1;
    }

    #modal-title {
        margin: 0;
        flex-grow: 1;
        margin-bottom: 10px; 
        font-size: 32px; 
        color: #000000;
        line-height: 1.2;
    }

    #modal-summary {
        order:1;
        margin-top: 20px; /* Ajoute un espace au-dessus du résumé */
        font-weight: 100;
        font-size: 18px;
    }

    .modal-image-tablet-container {
        order: 2; 
        text-align: center;
    }

    #modal-tablet-image{
    
        flex-shrink: 0;
        width: 100%; /* Ajuste l'image pour qu'elle prenne toute la largeur */
        height: auto;
        display: inline-block;
        margin-top: 20px; /* Ajoute un espace au-dessus de l'image */
        order:2;
    }

    .cast-container {
        order: 3;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        color: #000000;
        line-height: 1.6;
        margin-bottom: 5px;
        font-family: Oswald;
        text-align: justify;
    }

    #modal-info {
        font-size: 20px; /* Ajuste la taille de la police */
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }

    #modal-additional-info {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    #modal-rating {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    #modal-budget {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    .modal-text {
        color: black;
        font-weight: 100;
    }

    .new-line {
        display: block;
    }

    #modal-cast {
        display: block;
        margin-top: 10px; /* Ajoute un espace au-dessus du casting */
        color: #000000;
        font-size: 20px;
    }

    .modal-body strong {
        color: #000;
    }

    .modal-footer {
        display: none;
        
    }

    .modal-footer button {
        padding: 10px 25px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background-color: red;
        color: white;
        outline: none;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 0px;
    }

    .modal-footer button:hover {
        background-color: #e60000;
        transform: scale(1.05);
    }
    #custom-category .d-flex {
        display: flex;
        align-items: center;
        margin-left: 4em; /* Aligne l'ensemble avec les vignettes */
    }

    #custom-category h2 {
        margin-left:0em;
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        color: #000000;
    }

    #category-selector {
        width: 20%;
        margin: 20px auto;
        margin-left: 1em;
    }

    #categories {
        width: 100%;
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        appearance: none;
        position: relative;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2.6 4.5H9.4L6 8.1L2.6 4.5Z" fill="%23333"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 24px 24px;
    }


    #categories:hover {
        border-color: #888;
    }

    #categories:focus {
        border-color: #0056b3;
    }

    .modal p {
        margin: 4px 0;
        font-size: 16px;
    }

    .custom-select {
        position: relative;
        width: 100%;
    }

    .selected-option {
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .options-container {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .option {
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    .option:last-child {
        border-bottom: none;
    }

    .option:hover {
        background-color: #f1f1f1;
    }

    /* Styles pour masquer les films supplémentaires */
.movie-card.extra {
    display: none;
}

.toggle-btn {
    display: block;
    margin: 0 auto; /* Centrer horizontalement */
    width: 200px;
    height: 36px;
    padding: 2px 4px;
    border-radius: 25px;
    background-color: #FA0B0B;
    color: white;
    border: none;
    text-align: center;
    line-height: 36px; /* Centrer verticalement le texte */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.toggle-btn:hover {
    background-color: #e84949;
}


}
   


/* Media Queries pour Desktop */
@media (min-width: 992px) {
    .tablet-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }

    .logo-image-desktop {
        display: block;
        width: 100%;
        margin-left: 37px;
    }
    
    .logo-image-mobile {
        display: none;
    }

    .close-cross {
        display: none; /* Masquer la croix de fermeture pour desktop */
    }

    .modal-footer-desktop {
        display: flex; /* Afficher le bouton de fermeture en bas pour desktop */
    }
      
    
    .logo-image {
        width: 837px;
        height: 122px;
        margin-left: 4em;
    }

    body {
        width: 1054px;
        height: 4451px;
        margin: 0 auto;
        border: 1px solid transparent;
        opacity: 1;
    }

    h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        margin: 10px 0 20px 0;
        color: #000000;
        margin-left: 1.1em;
    }

    #best-movie-content {
        display: flex;
        width: 835px;
        height: 369px;
        top: -124px;
        left: -1380px;
        gap: 0px;
        border: 6px solid #333;
        opacity: 0px;
        margin-left: 4em;
    }

    #best-movie-content .card-img-top {
        max-width: 227px;
        height: 334px;
        top: -106px;
        left: -1355px;
        gap: 0px;
        opacity: 0px;
        margin-left: 2em;
        margin-top: 0.5em;
    }

    #best-movie-content .movie-card {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: none;
        padding: 0;
        width: 100%;
    }

    #best-movie-content .card {
        display: flex;
        flex-direction: row;
        border: none;
        width: 100%;
    }

    #best-movie-content .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    #best-movie-content .card-title {
        font-family: Oswald;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        color: #333;
        text-align: left;
        width: 463px;
        height: 70px;
    }

    #best-movie-content .card-text {
        flex-grow: 1;
        margin-bottom: 10px;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 200;
        line-height: 30px;
        text-align: left;
        width: 501px;
    }

    #best-movie-content .btn {
        align-self: flex-end;
        background-color: #FA0B0B;
        border-color: #FA0B0B;
        color: #fff;
        margin-right: 5rem;
        border-radius: 25px;
        padding: 10px 40px 10px 40px;
    
    }

    #best-movie-content .btn:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .section h2 {
        margin-top: 0;
    }

    #top-rated-movies-content, 
    #category1-content, 
    #category2-content, 
    #custom-category-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Ajout de cette ligne */
        width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur disponible */
    }



    #top-rated-movies .movie-card,
    #category1 .movie-card,
    #category2 .movie-card,
    #custom-category .movie-card {
        width: 252px;
        height: 247px;
        overflow: hidden; /* Cache l'excédent de l'image pour éviter la déformation */
        margin: 15px; /* Ajuste l'espace entre les cartes */
        position: relative; /* Nécessaire pour positionner les éléments à l'intérieur */
       
    }

    #top-rated-movies .movie-card img,
    #category1 .movie-card img,
    #category2 .movie-card img,
    #custom-category .movie-card img {
        width: 95%;
        height: 95%;
        object-fit:inherit; /* Crop l'image pour qu'elle remplisse le conteneur sans déformation */
        transition: transform 0.5s ease; /* Effet de transition pour le zoom */
    }

    #top-rated-movies .movie-card:hover img,
    #category1 .movie-card:hover img,
    #category2 .movie-card:hover img,
    #custom-category .movie-card:hover img {
        transform: scale(1.1); /* Zoom au survol */
    }
    
    #top-rated-movies .movie-card .card-body,
    #category1 .movie-card .card-body,
    #category2 .movie-card .card-body,
    #custom-category .movie-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 18px;
        transition: background-color .5s ease;
    }

    #top-rated-movies .movie-card .card-body:hover,
    #category1 .movie-card .card-body:hover,
    #category2 .movie-card .card-body:hover,
    #custom-category .movie-card .card-body:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    #top-rated-movies .movie-card .card-title,
    #category1 .movie-card .card-title,
    #category2 .movie-card .card-title,
    #custom-category .movie-card .card-title {
        margin-bottom: 5px;
        font-weight: bold;
        align-self: flex-start;
        font-size: 19px;
    }

    #top-rated-movies .movie-card .btn-primary,
    #category1 .movie-card .btn-primary,
    #category2 .movie-card .btn-primary,
    #custom-category .movie-card .btn-primary {
        background-color:#2D2C2C;
        border: none;
        color: white;
        align-self: flex-end;
       border-radius: 20px 20px 20px 20px;
       padding:5px 20px;
       position: relative;
       left: -25px;
       margin-top: 1.5em;
    }

    #top-rated-movies .movie-card .btn-primary:hover,
    #category1 .movie-card .btn-primary:hover,
    #category2 .movie-card .btn-primary:hover,
    #custom-category .movie-card .btn-primary:hover {
        background-color: #0d0d0d;
    }

    #top-rated-movies h2,
    #category1 h2,
    #category2 h2{
        margin-left: 1.7em; /* Aligne le titre sur la première vignette */
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    .modal {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 6px solid #333;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 778px;
        height: auto;

    }

    .modal-header {
        display:block;
        align-items: flex-start;
        justify-content:flex-start;
        margin-bottom: 20px;
        font-family: 'Oswald', sans-serif;
        text-align: left;
        padding-right: 250px;
    }

    #modal-title {
        margin: 0;
        margin-right: 20px;
        font-size: 48px;
        color: #000000;
        line-height: 1.2;
    }

    #modal-info {
        font-size: 24px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 35.57px;
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }


    #modal-additional-info {
        font-size: 24px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 35.57px;
        font-family: 'Oswald', sans-serif;
        color: #000000;
    }

    #modal-rating {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', 'sans-serif';
        color: #000000;
        font-weight: bold;
    }

    #modal-budget {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 1.2;
        font-family: 'Oswald', sans-serif;
        color: #000000;
        font-weight: bold;
    }

    .modal-text {
        color: black;
        font-weight: 400;
        font-size: 24px;
        line-height: 35.57px;
    }

    .new-line {
        display: block;
        font-size: 24px;
        font-weight: 300;
        line-height: 35.57px;

    }

    .modal-image-container {
        display: flex;
        justify-content: right; /* Center the image horizontally */
        margin-bottom: 20px; /* Add space below the image */
        margin-top: -312px;
    }
    
    #modal-image {
        flex-shrink: 0;
        width: 227px;
        height: auto;
        display:flex;
    }

    .modal-body {
        color: #000000;
        line-height: 1.6;
        margin-bottom: 5px;
        font-family: Oswald;
        /* margin-top: 312px; */
    }

    #modal-summary {
        margin-top: -30px;
        font-weight: 300;
        font-size: 24px;
        line-height: 35.57px;
    }

    .cast-container {
        margin-top: 52px; 
    }
    
    .cast-container strong {
        color: #000;
        font-size: 20px;
        line-height: 29.64px;
        font-weight: 400;
    }
    
    #modal-cast {
        display: block;
        margin-top: -2px;
        color: #000000;
        font-size: 20px;
        line-height: 29.64px;
        font-weight: 300;
    }

    .modal-footer {
        text-align: center;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .modal-footer button {
        padding: 10px 50px; 
        font-size: 16px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background-color: red;
        color: white;
        outline: none;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 0px;
    }

    .modal-footer button:hover {
        background-color: #e60000;
        transform: scale(1.05);
    }

   

    #custom-category .d-flex {
        display: flex;
        align-items: center;
        margin-left: 4em; /* Aligne l'ensemble avec les vignettes */
    }

    #custom-category h2 {
        margin-left:0em;
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.14px;
        text-align: left;
        color: #000000;
    }

    #category-selector {
        width: 20%;
        margin: 20px auto;
        margin-left: 1em;
    }

    #categories {
        width: 100%;
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        appearance: none;
        position: relative;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2.6 4.5H9.4L6 8.1L2.6 4.5Z" fill="%23333"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 24px 24px;
    }


    #categories:hover {
        border-color: #888;
    }

    #categories:focus {
        border-color: #0056b3;
    }

    .modal p {
        margin: 4px 0;
        font-size: 16px;
    }

    .custom-select {
        position: relative;
        width: 100%;
    }

    .selected-option {
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .options-container {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .option {
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    .option:last-child {
        border-bottom: none;
    }

    .option:hover {
        background-color: #f1f1f1;
    }

    .toggle-btn {
        display: none;
    }
}
